/* Responsive Styles */


/* //////// Login page//////////// */

@media (max-width: 1024px) {
    .login-section {
        max-width: 90%;
        padding: 40px 80px;
        flex-direction: column;
    }

    .login-form-section {
        max-width: 100%;
        padding: 40px;
    }

    .login-info {
        padding: 30px;
    }
    .large-gradient-circle, .small-gradient-circle {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-section {
        max-width: 95%;
        padding: 30px 60px;
    }

    .login-form-title {
        font-size: 28px;
    }

    .input {
        font-size: 18px;
    }

    .login-button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .login-section {
        max-width: 100%;
        padding: 20px 40px;
    }

    .login-form-title {
        font-size: 24px;
        text-align: center;
    }

    .input {
        font-size: 16px;
        padding: 12px;
    }

    .login-button {
        font-size: 16px;
        padding: 12px 20px;
    }

    .login-info {
        padding: 20px;
    }
}

/* //////////// registration page////// */

@media (max-width: 1024px) {
    .registration-form-section {
        padding: 40px 80px;
    }

    .reg-form-title-text {
        font-size: 28px;
    }

    .reg-form-body {
        gap: 16px;
    }

    .reg-form-buttons {
        flex-direction: column;
        gap: 15px;
    }

    button[type="reset"], button[type="button"] {
        padding: 10px 18px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .registration-form-section {
        padding: 30px 60px;
    }

    .reg-form-title-text {
        font-size: 24px;
    }

    .reg-form-subtitle {
        font-size: 13px;
    }
    .details-input {
        display: initial;
    }

    .form-selects {
        font-size: 16px;
    }

    button[type="reset"], button[type="button"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .registration-form-section {
        padding: 20px 40px;
    }

    .reg-form-title-text {
        font-size: 20px;
    }

    .reg-form-subtitle {
        font-size: 12px;
    }

    .reg-form-body {
        gap: 12px;
    }

    .highest-qualification-input {
        flex-direction: column;
        align-items: flex-start;
    }

    .gender-input, .age-input {
        flex-direction: column;
        align-items: flex-start;
    }

    button[type="reset"], button[type="button"] {
        padding: 8px 12px;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .reg-form-buttons {
        flex-direction: column;
        gap: 10px;
    }
}
